<ion-content class="login-gradient">

  <div class="overlay"></div>

  <div class="login-wrapper">

    <div class="logo-area">
      <div class="fire-circle">
        <ion-icon name="flame-outline"></ion-icon>
      </div>
      <h1>Iniciar Sesión</h1>
      <p>Accede a tu cuenta y continúa la experiencia</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-box">

      <ion-item class="input-item" lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input 
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        {{ getErrorMessage('email') }}
      </p>

      <ion-item class="input-item" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        {{ getErrorMessage('password') }}
      </p>

      <ion-button expand="block" type="submit" class="btn-fire">
        Entrar 🔥
      </ion-button>

    </form>

    <div class="footer">
      <span>¿No tienes una cuenta?</span>
      <a routerLink="/register">Regístrate aquí</a>
    </div>

  </div>
</ion-content>
