<ion-content class="register-gradient">

  <div class="overlay"></div>

  <div class="register-wrapper">

    <div class="logo-area">
      <div class="fire-circle">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <h1>Crear Cuenta</h1>
      <p>Regístrate para unirte a la experiencia</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-box">

      <ion-item class="input-item" lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input 
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        {{ getErrorMessage('email') }}
      </p>

      <ion-item class="input-item" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        {{ getErrorMessage('password') }}
      </p>

      <ion-button expand="block" type="submit" class="btn-fire">
        Registrarme 🔥
      </ion-button>

    </form>

    <div class="footer">
      <span>¿Ya tienes una cuenta?</span>
      <a routerLink="/login">Inicia sesión</a>
    </div>

  </div>

</ion-content>
